<div class="polaroid hgt10" style="text-align:center">
<h1 style="display:inline" id="ctr">The SurveyVala's</h1>   <h3 style="display:inline" id="rgt">....We do surveys</h3>
</div>

<div class = "bgimg ctr">
<nav>
    <table text-align="center">
    <tr>
    <td>
    <div class ="polaroid1">
    <h4>Ready to take a survey?</h4>
    Link :- <a routerLink="/form"> Survey Form</a>
    </div>
    </td>
    <td>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
    <div class = "polaroid1">
        <h4>Want to see all the Surveys?</h4>
    Link :- <a routerLink="/display">Display Surveys</a>
    </div>
    </td>
    </tr>
    </table>

</nav>
</div>
<div class = "bottom">
    <h5>@ App developers Ajit and Haramrit</h5>
</div>